@font-face {
    font-family: 'Ubuntu Regular';
    src: url('ubuntu-regular.eot');
    src: url('ubuntu-regular.eot') format('embedded-opentype'),
         url('ubuntu-regular.woff2') format('woff2'),
         url('ubuntu-regular.woff') format('woff'),
         url('ubuntu-regular.ttf') format('truetype'),
         url('ubuntu-regular.svg#ubuntu-regular') format('svg');
}
