/**/
/********************* file: variables *********************/
/**/
/**/
/********************* file: mixins *********************/
/**/
.u:link,
.u:visited {
  text-decoration: none;
}
.u:hover,
.u:active {
  text-decoration: underline;
}
.caption {
  padding: 13px 0 14px 0;
  line-height: 1.1;
  font-family: 'Ubuntu Light';
  font-size: 30px;
}
.more-button {
  float: right;
  font-family: 'Ubuntu Italic';
}
.more-button:link,
.more-button:visited {
  text-decoration: none;
}
.more-button:hover,
.more-button:active {
  text-decoration: underline;
}
.font-italic,
.font-italic:link,
.font-italic:visited,
.font-italic *,
.font-italic:link *,
.font-italic:visited * {
  font-family: 'Ubuntu Italic';
}
.red-color-link:link,
.red-color-link:visited {
  color: #ffffff;
  background: #ff394a;
}
.red-color-link:hover,
.red-color-link:active {
  background: #ff000f;
}
.normal-color {
  color: #000000 !important;
}
.normal-link:link,
.normal-link:visited {
  text-decoration: underline;
}
.normal-link:hover,
.normal-link:active {
  text-decoration: none;
}
.border-red {
  border: 1px solid red;
}
.border-blue {
  border: 1px solid blue;
}
.border-green {
  border: 1px solid green;
}
.border-yellow {
  border: 1px solid yellow;
}
.center-text {
  text-align: center;
}
.small-text {
  font-size: 13px;
}
.gray-text {
  color: #7d8083;
}
.green-text {
  color: #01d05d;
}
.red-text {
  color: #ff000f;
}
.yellow-text {
  color: #f1cf00;
}
.orange-text {
  color: #ff6413;
}
.white-text {
  color: #ffffff;
}
.white-block {
  background: #ffffff;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.icon-32x32 {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url("../images/icons/icon-32x32-sprite.png") no-repeat;
}
.icon-16x16 {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../images/icons/icon-16x16-sprite.png") no-repeat;
}
/* Градиент в белый цвет справа, P.S.: установка отступа слева и высота - в index.js */
.gradient-right {
  position: absolute;
  display: block;
  float: right;
  width: 30px;
  height: 1.5em;
  margin-top: -1.5em;
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(#ffffff));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffffff', GradientType=1);
}
/* /Градиент в белый цвет справа, P.S.: установка отступа слева и высота - в index.js */
/**/
/********************* file: static *********************/
/**/
.hr {
  background: #ddd;
  height: 1px;
  margin: 11px 0;
}
.hr.simple {
  margin: 5px 0;
}
.hr.simple-line {
  margin: 0;
}
.selected-text {
  color: #ff394a;
}
.dark-text {
  color: #1b1b1b;
}
.caret {
  display: inline-block;
  height: 0px;
  margin-left: 2px;
  vertical-align: middle;
  width: 0px;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-bottom: none;
  border-left: 4px solid transparent;
}
.caret.up {
  border-top: none;
  border-bottom: 4px solid;
}
.outline-none,
* {
  outline: none;
  outline-offset: 0;
}
a:link,
a:visited,
a:hover,
a:active,
a:focus,
input,
input:focus {
  outline: none;
  outline-offset: 0;
}
label {
  margin: 0;
}
input[placeholder] {
  text-overflow: ellipsis;
}
input[placeholder]::-webkit-input-placeholder {
  color: #dbdbdb;
}
input[placeholder]::-moz-placeholder {
  color: #dbdbdb;
}
input[placeholder]:-moz-placeholder {
  color: #dbdbdb;
}
input[placeholder]:-ms-input-placeholder {
  color: #dbdbdb;
}
input[placeholder]::-moz-placeholder {
  text-overflow: ellipsis;
}
input[placeholder]:-moz-placeholder {
  text-overflow: ellipsis;
}
input[placeholder]:-ms-input-placeholder {
  text-overflow: ellipsis;
}
input[placeholder]:focus::-webkit-input-placeholder {
  color: transparent;
}
input[placeholder]:focus::-moz-placeholder {
  color: transparent;
}
input[placeholder]:focus:-moz-placeholder {
  color: transparent;
}
input[placeholder]:focus:-ms-input-placeholder {
  color: transparent;
}
p,
ul.simple-list {
  padding-bottom: 9px;
}
div.simple-list > div + div {
  clear: both;
}
.required-field-sign {
  color: #ff394a;
  font-family: 'Ubuntu Bold';
}
/**/
/********************* file: skin *********************/
/**/
html {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  overflow: auto;
  /* Or IE will always show the vertical scrollbar: ; */
}
html > body {
  overflow: auto;
  /* Or IE will always show the vertical scrollbar: ; */
  height: auto;
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
  width: 100%;
  min-width: 960px;
  height: 100%;
  min-height: 500px;
}
* html body {
  height: 100%;
}
.middle-block {
  height: 100%;
  min-height: 350px;
  padding-bottom: 300px;
}
.footer-block {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.container,
.wrapper {
  overflow: hidden;
  width: 960px;
  padding: 0 20px;
  margin: 0 auto;
}
/**/
/********************* file: bitrix *********************/
/**/
/** выравнивание изображения по левому краю **/
.image-left {
  margin: 3px 20px 15px 0;
  display: block;
  float: left;
}
/** /выравнивание изображения по левому краю **/
/**/
/**/
/**/
/** выравнивание изображения по левому краю **/
.image-right {
  margin: 3px 0 15px 20px;
  display: block;
  float: right;
}
/** /выравнивание изображения по левому краю **/
/**/
/**/
/**/
/** изображения с бордюром **/
.image-border {
  box-sizing: content-box;
  border: 1px solid #dbdbdb;
}
/** /изображения с бордюром **/
/**/
/**/
/**/
/** выравнивание изображения по левому краю с бордюром **/
.image-left-border {
  margin: 3px 20px 15px 0;
  display: block;
  float: left;
  box-sizing: content-box;
  border: 1px solid #dbdbdb;
  -web-kit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
/** /выравнивание изображения по левому краю с бордюром **/
/**/
/**/
/**/
/** выравнивание изображения по левому краю с бордюром **/
.image-right-border {
  margin: 3px 0 15px 20px;
  display: block;
  float: right;
  box-sizing: content-box;
  border: 1px solid #dbdbdb;
  -web-kit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
/** /выравнивание изображения по левому краю с бордюром **/
/**/
/**/
/**/
/** выравнивание изображения по левому краю в рамке **/
.image-left-frame {
  margin: 3px 20px 15px 0;
  display: block;
  float: left;
  box-sizing: content-box;
  border: 1px solid #dbdbdb;
  -web-kit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 3px;
  -web-kit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/** /выравнивание изображения по левому краю в рамке **/
/**/
/**/
/**/
/** выравнивание изображения по левому краю в рамке **/
.image-right-frame {
  margin: 3px 0 15px 20px;
  display: block;
  float: right;
  box-sizing: content-box;
  border: 1px solid #dbdbdb;
  -web-kit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 3px;
  -web-kit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/** /выравнивание изображения по левому краю в рамке **/
/*
.padding-frame {
	padding: 20px;
}
*/
/** слой для превью с отступами **/
.img-preview-border-left-frame {
  margin: 3px 20px 15px 0;
  float: left;
  box-sizing: content-box;
  border: 1px solid #dbdbdb;
  -web-kit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 3px;
  -web-kit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 20px;
  display: block;
}
/** /слой для превью с отступами **/
/** Простая таблица **/
.simple-table {
  width: 100%;
}
.simple-table tr td {
  vertical-align: top;
  padding: 15px 0;
}
.simple-table tr td img {
  margin-bottom: 0;
}
/** /Простая таблица **/
/** Простая таблица с полосками сверху и снизу строк **/
.simple-top-bottom-border-table {
  width: 100%;
  border-top: 1px solid #dbdbdb;
}
.simple-top-bottom-border-table tr td {
  vertical-align: top;
  padding: 15px 0;
}
.simple-top-bottom-border-table tr td img {
  margin-bottom: 0;
}
.simple-top-bottom-border-table tr td {
  border-bottom: 1px solid #dbdbdb;
}
/** /Простая таблица с полосками сверху и снизу строк **/
.sub-caption {
  padding: 10px 17px;
  margin-bottom: 7px;
  line-height: 1.5;
  color: #1b1b1b;
  background: #f8f8f8;
  -web-kit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.sub-caption-text {
  padding: 10px 7px 10px 17px;
}
ul.simple-list li {
  padding-left: 17px;
  background: url("../images/bullet.png") no-repeat 2px 7px;
}
ul.simple-list-connected-bullet li {
  padding: 0;
  margin: 0;
  padding-left: 27px;
  background: url("../images/bullet-connected.png") no-repeat;
  padding-bottom: 1em;
}
ul.simple-list-connected-bullet li:first-child {
  background-image: url("../images/bullet-connected-top.png");
}
ul.simple-list-connected-bullet li:last-child {
  background-image: url("../images/bullet-connected-bottom.png");
}
ul.simple-list-connected-bullet li.last-child {
  background-image: url("../images/bullet-connected-bottom.png");
}
ul.simple-list-connected-bullet li h3 {
  margin-top: 0;
}
table.st-row-border tr + tr td {
  padding-top: 20px;
  border-top: 1px solid #dbdbdb;
}
table.st-row-border tr:last-child td {
  padding-bottom: 0;
}
table.st-row-border tr td {
  padding-bottom: 20px;
}
table.st-row-border tr td {
  padding-bottom: 20px;
}
.st-border + tr td {
  padding-top: 20px;
  border-top: 1px solid #dbdbdb;
}
.st-border:last-child td {
  padding-bottom: 0;
}
.st-border td {
  padding-bottom: 20px;
}
.st-spacing-between-cells tr + tr td {
  padding-top: 20px;
}
.st-spacing-between-cells tr td + td {
  padding-left: 35px;
}
form.personal-data .st-spacing-between-cells tr td:first-child {
  width: 115px;
}
table.vertical-align-middle td {
  vertical-align: middle;
}
/**/
/********************* file: index *********************/
/**/
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
dl,
dt,
dd,
ol,
ul,
li,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
input,
textarea,
select,
option {
  font-family: 'Ubuntu Regular', 'Arial', 'Calibri', 'Verdana', 'Tahoma', 'Times New Roman';
  color: #000000;
  font-size: 17px;
}
.body,
.body div,
.body h1,
.body h2,
.body h3,
.body h4,
.body h5,
.body h6,
.body p,
.body blockquote,
.body pre,
.body a,
.body dl,
.body dt,
.body dd,
.body ol,
.body ul,
.body li,
.body label,
.body table,
.body caption,
.body tbody,
.body tfoot,
.body thead,
.body tr,
.body th,
.body td,
.body input,
.body textarea,
.body select,
.body option {
  line-height: 25px;
  font-family: 'Ubuntu Light', 'Ubuntu Regular', 'Arial', 'Calibri', 'Verdana', 'Tahoma', 'Times New Roman';
}
table td {
  vertical-align: top;
}
b,
strong {
  font-family: 'Ubuntu Bold';
}
i,
.italic-text {
  font-family: 'Ubuntu Italic';
}
.body i,
.body .italic-text {
  font-family: 'Ubuntu Light Italic';
}
a:link,
a:visited,
a:link *,
a:visited * {
  color: #000000;
  text-decoration: underline;
}
a:hover,
a:active,
a:hover *,
a:active * {
  text-decoration: none;
}
/*
a[href^="#"] {
	&:link, &:visited {
		.u;
	}
	&:hover, &:active {

	}
}
*/
select,
option,
textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"] {
  -web-kit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0 11px;
  min-width: 100%;
  height: 32px;
  line-height: 32px;
  border: 1px solid #dbdbdb;
  background: #f8f8f8;
  margin: 5px 0;
}
select:focus,
option:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus {
  border-color: #00a1e6;
}
select.success,
option.success,
textarea.success,
input[type="text"].success,
input[type="password"].success,
input[type="email"].success,
input[type="number"].success,
input[type="tel"].success {
  border-color: #7d8083;
}
select.error,
option.error,
textarea.error,
input[type="text"].error,
input[type="password"].error,
input[type="email"].error,
input[type="number"].error,
input[type="tel"].error {
  border-color: #ff000f;
}
textarea {
  height: 100px;
  line-height: 25px;
}
.jq-selectbox {
  margin: 5px 0;
  min-width: 100%;
}
.jq-checkbox,
.jq-radio {
  box-sizing: content-box;
}
.center-text {
  text-align: center;
}
.right-text {
  text-align: right;
}
.center-block {
  margin: 0 auto;
}
.micro-text {
  font-size: 12px;
}
.big-text {
  font-size: 21px;
}
.light-text {
  font-family: 'Ubuntu Light';
}
.red-text,
a.red-text:link,
a.red-text:visited {
  color: #ff000f;
}
.caption-block {
  font-family: 'Ubuntu Regular';
  font-size: 21px;
}
.avatar-big-block {
  display: table-cell;
  width: 200px;
  height: 200px;
  border: 2px solid #00a1e6;
  -web-kit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
}
/** Icons **/
.question-icon.icon-32x32 {
  background-position: 0 1px;
}
/** Buttons **/
.button,
a.button,
input[type="submit"],
.button:link,
a.button:link,
input[type="submit"]:link,
.button:active,
a.button:active,
input[type="submit"]:active {
  display: inline-block;
  -web-kit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  min-width: 124px;
  height: 51px;
  padding: 0 15px;
  /*
		line-height: 48px;
		font-family: @fontL;
		font-style: 21;
		color: @white-color;
		*/
  text-align: center;
  font: 21px/48px 'Ubuntu Light';
  color: #ffffff;
  background: #00a1e6;
  border: 0;
  border-bottom: 3px solid #007fb3;
  text-decoration: none;
  white-space: nowrap;
}
.button:hover,
a.button:hover,
input[type="submit"]:hover {
  background-color: #4daee5;
}
.button:active,
a.button:active,
input[type="submit"]:active {
  background-color: #007fb3;
}
.button.button-small,
a.button.button-small,
input[type="submit"].button-small {
  min-width: 84px;
  height: 32px;
  padding: 0 9px;
  font: 17px/30px 'Ubuntu Light';
}
.button.button-yellow,
a.button.button-yellow,
input[type="submit"].button-yellow,
.button.button-yellow:link,
a.button.button-yellow:link,
input[type="submit"].button-yellow:link,
.button.button-yellow:active,
a.button.button-yellow:active,
input[type="submit"].button-yellow:active {
  background: #f1cf00;
  border-color: #c18d00;
}
.button.button-yellow:hover,
a.button.button-yellow:hover,
input[type="submit"].button-yellow:hover {
  background-color: #e5cf38;
}
.button.button-yellow:active,
a.button.button-yellow:active,
input[type="submit"].button-yellow:active {
  background-color: #c18d00;
}
.button.button-green,
a.button.button-green,
input[type="submit"].button-green,
.button.button-green:link,
a.button.button-green:link,
input[type="submit"].button-green:link,
.button.button-green:active,
a.button.button-green:active,
input[type="submit"].button-green:active {
  background: #01d05d;
  border-color: #009667;
}
.button.button-green:hover,
a.button.button-green:hover,
input[type="submit"].button-green:hover {
  background-color: #65cf7e;
}
.button.button-green:active,
a.button.button-green:active,
input[type="submit"].button-green:active {
  background-color: #009667;
}
.button.button-dim-blue,
a.button.button-dim-blue,
input[type="submit"].button-dim-blue,
.button.button-dim-blue:link,
a.button.button-dim-blue:link,
input[type="submit"].button-dim-blue:link,
.button.button-dim-blue:active,
a.button.button-dim-blue:active,
input[type="submit"].button-dim-blue:active {
  background: #20a5c1;
  border-color: #1b778c;
}
.button.button-dim-blue:hover,
a.button.button-dim-blue:hover,
input[type="submit"].button-dim-blue:hover {
  background-color: #67aec1;
}
.button.button-dim-blue:active,
a.button.button-dim-blue:active,
input[type="submit"].button-dim-blue:active {
  background-color: #1b778c;
}
.button.button-red,
a.button.button-red,
input[type="submit"].button-red,
.button.button-red:link,
a.button.button-red:link,
input[type="submit"].button-red:link,
.button.button-red:active,
a.button.button-red:active,
input[type="submit"].button-red:active {
  background: #ff000f;
  border-color: #d20000;
}
.button.button-red:hover,
a.button.button-red:hover,
input[type="submit"].button-red:hover {
  background-color: #ff394a;
}
.button.button-red:active,
a.button.button-red:active,
input[type="submit"].button-red:active {
  background-color: #d20000;
}
/** /Buttons **/
/**/
/**/
/** HeaderLine **/
.header-line {
  height: 51px;
  background: #06374b;
}
.header-line * {
  color: #ffffff;
  line-height: 51px;
  font-family: 'Ubuntu Light';
}
.header-line a:link,
.header-line a:visited {
  color: #ffffff;
}
.header-line .settings-block {
  float: right !important;
}
.header-line .settings-block li {
  float: left;
}
.header-line .settings-block li a:link,
.header-line .settings-block li a:visited {
  text-decoration: none;
}
.header-line .settings-block li a:hover,
.header-line .settings-block li a:active {
  text-decoration: underline;
}
.header-line .settings-block li a:link,
.header-line .settings-block li a:visited {
  display: block;
  margin-left: 25px;
  padding-left: 30px;
  background: url('../images/header-line-settings-sprite.png') no-repeat;
}
.header-line .settings-block li.notifications-text a:link,
.header-line .settings-block li.notifications-text a:visited {
  background-position: 0 0;
}
.header-line .settings-block li.user-text a:link,
.header-line .settings-block li.user-text a:visited {
  background-position: 0 -100px;
}
.header-line .settings-block li.settings-text a:link,
.header-line .settings-block li.settings-text a:visited {
  background-position: 0 -200px;
}
.header-line .settings-block li.exit-text a:link,
.header-line .settings-block li.exit-text a:visited {
  background-position: 0 -300px;
}
.header-line .tariff-block,
.header-line .tariff-block * {
  font-size: 17px;
}
/** /HeaderLine **/
/**/
/**/
/**/
/**/
/** HeaderBlock **/
.header-block {
  padding: 18px 0 27px 0;
}
.header-block > .wrapper > * {
  float: left;
}
.header-block .logo-block img {
  padding: 6px 0;
}
.header-block .phone-block,
.header-block .phone-block * {
  padding-left: 83px;
  color: #1b1b1b;
  text-align: center;
  font-size: 17px;
}
.header-block .phone-block a:link,
.header-block .phone-block * a:link,
.header-block .phone-block a:visited,
.header-block .phone-block * a:visited {
  display: block;
  padding: 26px 0 24px 0;
  font-family: 'Ubuntu Medium';
  font-size: 26px;
  text-decoration: none;
}
.header-block .right-block {
  float: right !important;
  text-align: right;
  padding-top: 44px;
}
.header-block .right-block a:link,
.header-block .right-block a:visited {
  font-size: 21px;
  color: #1b1b1b;
}
/** /HeaderBlock **/
/**/
/**/
/**/
/**/
/** MainMenu **/
.main-menu .wrapper > ul {
  overflow: hidden;
  padding: 0 10px;
  background: #008bc5;
  -web-kit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.main-menu .wrapper > ul li {
  float: left;
}
.main-menu .wrapper > ul li a:link,
.main-menu .wrapper > ul li a:visited {
  display: block;
  padding: 0 18px;
  line-height: 62px;
  font-size: 17px;
  color: #c4cdd2;
  text-decoration: none;
}
.main-menu .wrapper > ul li.active a:link,
.main-menu .wrapper > ul li.active a:visited,
.main-menu .wrapper > ul li a:hover,
.main-menu .wrapper > ul li a:active {
  color: #ffffff;
}
.main-menu .wrapper > ul li.sub-menu-container a:hover,
.main-menu .wrapper > ul li.sub-menu-container a:active {
  background: url('../images/bg-main-menu.png') no-repeat center bottom;
}
.main-menu .wrapper > ul li.sub-menu-container.active a:link,
.main-menu .wrapper > ul li.sub-menu-container.active a:visited {
  background: url('../images/bg-main-menu.png') no-repeat center bottom;
}
.main-menu .wrapper > ul li.sub-menu-container ul {
  display: none;
  position: absolute;
  z-index: 100;
  padding: 0 9px;
  -web-kit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #5fa3bf;
}
.main-menu .wrapper > ul li.sub-menu-container:hover ul {
  display: inline-block;
}
.main-menu .wrapper > ul li.sub-menu-container:hover ul li a:link,
.main-menu .wrapper > ul li.sub-menu-container:hover ul li a:visited {
  padding: 0 14px;
  color: #ffffff;
}
.main-menu .wrapper > ul li.n-1 ul {
  margin-left: 0px;
}
.main-menu .wrapper > ul li.n-2 ul {
  margin-left: -110px;
}
.main-menu .wrapper > ul li.n-3 ul {
  margin-left: -290px;
}
.main-menu .wrapper > ul li.n-4 ul {
  margin-left: -200px;
}
.main-menu .wrapper > ul li.n-5 ul {
  margin-left: -50px;
}
.main-menu .wrapper > ul li.n-6 ul {
  margin-left: 0px;
}
/** /MainMenu **/
/**/
/**/
/**/
/**/
/** MiddleBlock **/
.middle-block {
  margin-bottom: 75px;
}
.middle-block .ask-expert-block a:link,
.middle-block .ask-expert-block a:visited {
  text-decoration: none;
}
.middle-block .ask-expert-block a:hover,
.middle-block .ask-expert-block a:active {
  text-decoration: underline;
}
.middle-block .ask-expert-block a:link,
.middle-block .ask-expert-block a:visited {
  float: right;
  display: block;
  min-height: 22px;
  padding: 0 30px 0 30px;
  margin: 28px 30px 0 0;
  font-family: 'Ubuntu Regular';
  font-size: 21px;
  background: url('../images/icons/question-ring-red.png') no-repeat center right;
}
/** /MiddleBlock **/
/**/
/**/
/**/
/**/
/** BreadcrumbsBlock **/
ul.breadcrumbs-block {
  padding: 15px 0 35px 0;
}
ul.breadcrumbs-block li {
  float: left;
  padding-right: 5px;
}
ul.breadcrumbs-block li + li:before {
  content: " > ";
}
/** /BreadcrumbsBlock **/
/**/
/**/
/**/
/**/
/** LeftColumn **/
.left-column {
  padding-top: 15px;
}
.left-column > .caption-block {
  text-align: center;
  margin-bottom: 25px;
}
.left-column .frame-block {
  width: 254px;
  margin: 0 auto;
  border: 2px solid #00a1e6;
  -web-kit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.left-column .frame-block.frame-dark-blue {
  border-color: #007fb3;
}
.left-column .frame-block.frame-gray {
  border-color: #7d8083;
}
.left-column .doc-block {
  width: 254px;
  margin: 0 auto;
  border: 2px solid #00a1e6;
  -web-kit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-color: #007fb3;
  padding: 21px;
  text-align: center;
}
.left-column .doc-block.frame-dark-blue {
  border-color: #007fb3;
}
.left-column .doc-block.frame-gray {
  border-color: #7d8083;
}
.left-column .doc-block .caption-block {
  text-transform: uppercase;
}
.left-column .doc-counter-block {
  width: 254px;
  margin: 0 auto;
  border: 2px solid #00a1e6;
  -web-kit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-color: #7d8083;
  padding: 11px 0 11px 11px;
}
.left-column .doc-counter-block.frame-dark-blue {
  border-color: #007fb3;
}
.left-column .doc-counter-block.frame-gray {
  border-color: #7d8083;
}
.left-column .doc-counter-block,
.left-column .doc-counter-block * {
  font-family: 'Ubuntu Light';
}
.left-column.left-column-border-right {
  border-right: 2px solid #00a1e6;
}
/** /LeftColumn **/
/**/
/**/
/**/
/**/
/** RightColumn **/
.right-column,
.center-column {
  padding-top: 15px;
}
.right-column > .caption-block,
.center-column > .caption-block {
  margin-bottom: 20px;
}
/** /RightColumn **/
/**/
/**/
/**/
/**/
/** LeftMenu **/
.left-menu {
  width: 254px;
  margin: 0 auto;
  border: 2px solid #00a1e6;
  -web-kit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.left-menu li a:link,
.left-menu li a:visited {
  display: block;
  padding: 9px 21px 8px 21px;
  line-height: 25px;
  font-family: 'Ubuntu Light';
  text-decoration: none;
}
.left-menu li a:hover,
.left-menu li a:active {
  background: #e3f5fc;
}
.left-menu li.active a:link,
.left-menu li.active a:visited {
  background: #e3f5fc;
}
.left-menu li + li a:link,
.left-menu li + li a:visited {
  border-top: 2px solid #4daee5 /*#008bc5*/;
}
/** /LeftMenu **/
/**/
/**/
/**/
/**/
/** StepsBlock **/
.steps-menu-block {
  width: 168px;
  border: 3px solid #00a1e6;
}
.steps-menu-block li a:link,
.steps-menu-block li a:visited {
  font-size: 21px;
  text-align: center;
}
.steps-content-block li {
  display: none;
}
.steps-content-block li .button-red {
  min-width: 200px;
}
/** /StepsBlock **/
/**/
/**/
/**/
/**/
/** JqueryUi **/
.ui-tooltip {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
  border-color: #00a1e6;
}
/** /JqueryUi **/
/**/
/**/
/**/
/**/
/** Datepicker **/
input.datepicker {
  width: 150px;
  min-width: auto;
  padding-right: 32px;
  background: url('../images/icons/icon-calendar.png') no-repeat right center;
}
.ui-datepicker {
  z-index: 1000 !important;
}
/** /Datepicker **/
/**/
/**/
/**/
/**/
/** Bootstrap **/
body {
  padding-right: 0 !important;
}
.modal-dialog {
  width: 700px;
}
.modal-header {
  border-bottom: 0;
}
.modal-title {
  font-family: 'Ubuntu Regular';
  font-size: 21px;
  text-align: center;
}
.modal-footer {
  padding-bottom: 30px;
  border-top: 0;
}
/** /Bootstrap **/
/**/
/**/
/**/
/**/
/**/
/**/
/************************************ Windows ****************************************/
/**/
/**/
/**/
/**/
/** Label **/
label.error {
  display: block;
  width: 300px;
  min-height: 21px;
  line-height: 21px;
  color: #ffffff;
  text-transform: none !important;
  background: #ff000f;
}
/** /Label **/
/** WinForm **/
.window-form {
  text-align: center;
}
.window-form .result-caption {
  height: 40px;
  line-height: 36px;
  margin-bottom: 25px;
  font-size: 16px;
  font-family: 'Ubuntu Medium';
  color: #ffffff;
  background: #ff394a;
}
.window-form form > * {
  margin-bottom: 6px;
}
.window-form .result-body {
  font-size: 15px;
  padding: 0 20px 19px 20px;
}
.window-form .result-body form[name="feed-back-form"] input[type="text"] {
  width: 100%;
}
.window-form .result-body form[name="feed-back-form"] select {
  width: 48%;
}
.window-form .result-body form[name="feed-back-form"] #feed-back-day {
  float: left;
}
.window-form .result-body form[name="feed-back-form"] #feed-back-time {
  float: right;
}
.window-form input[type=submit],
.window-form .button {
  margin-top: 23px;
}
.window-form .result-win.answer input[type=submit],
.window-form .button {
  background: #ff6413;
}
.window-form .result-win.answer input[type=submit]:hover,
.window-form .button:hover,
.window-form .result-win.answer input[type=submit]:active,
.window-form .button:active {
  background: #e15300;
}
.window-form .desc {
  margin: 7px 0 0 0;
  font-size: 12px;
  font-style: italic;
  color: #dbdbdb;
}
.button-form-content {
  display: none;
}
/** /WinForm **/
/** MaskDiv **/
.mask {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 200000;
}
.mask.title {
  color: #007fb3;
}
.mask.div {
  position: absolute;
  width: 450px;
  min-height: 100px;
  background: #ffffff;
  -web-kit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.mask.bg {
  z-index: 200000 !important;
  background-color: #000;
}
.result-win {
  border: 4px solid #ff394a;
}
.result-win.answer {
  border: 4px solid #007fb3;
  background: #00a1e6;
}
.result-win.answer div {
  color: #ffffff;
}
.result-win.answer .result-caption {
  background: #007fb3;
}
.close-button {
  display: block;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 26px;
  height: 26px;
  background: url('../images/icons/close-white-bg.png') center;
}
