//@import "../bootstrap/css/bootstrap.css";
@import "variables.less";
@import "mixins.less";
@import "static.less";
@import "skin.less";
@import "bitrix.less";

/**/
/********************* file: index *********************/
/**/

html, body, div, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, dl, dt, dd, ol, ul, li, label, table, caption, tbody, tfoot, thead, tr, th, td, input, textarea, select, option {
	font-family: @font, 'Arial', 'Calibri', 'Verdana', 'Tahoma', 'Times New Roman';
	color: @text-color;
	font-size: 17px;
}

.middle-block, .modal {
	&, div, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, dl, dt, dd, ol, ul, li, label, table, caption, tbody, tfoot, thead, tr, th, td, input, textarea, select, option {
		line-height: 25px;
		font-family: @fontL, @font, 'Arial', 'Calibri', 'Verdana', 'Tahoma', 'Times New Roman';
	}
}

table td {
	vertical-align: top;
}

b, strong, .bold-text {
	font-family: @fontB;
}

i, .italic-text {
	font-family: @fontI;
}

.regular-text {
	font-family: @font !important;
}

.middle-block {
	i, .italic-text {
		font-family: @fontLI;
	}
}

a {
	&:link, &:visited {
		&, * {
			color: @text-color;
			text-decoration: underline;
		}
	}
	&:hover, &:active {
		&, * {
			text-decoration: none;
		}
	}
}

/*
a[href^="#"] {
	&:link, &:visited {
		.u;
	}
	&:hover, &:active {

	}
}
*/

select,
option,
textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"] {
	.border-radius();
	padding: 0 11px;
	min-width: 100%;
	height: 32px;
	line-height: 32px;
	border: 1px solid @light-gray-color;
	background: @super-light-gray-color;
	&:focus {
		border-color: @blue-color;
	}
	&.success {
		border-color: @gray-color;
	}
	&.error {
		border-color: @red-color;
	}
	margin: 5px 0;
}

textarea {
	height: 100px;
	line-height: 25px;
}

.jq-selectbox {
	margin: 5px 0;
	min-width: 100%;
}

.jq-checkbox, .jq-radio {
	box-sizing: content-box;
}

.center-text {
	text-align: center;
}

.right-text {
	text-align: right;
}

.center-block {
	margin: 0 auto;
}

.micro-text {
	font-size: 12px;
}

.light-text {
	font-family: @fontL;
}

.red-text, a.red-text:link, a.red-text:visited {
	color: @red-color;
}

.caption-text {
	&, * {
		text-align: center;
		font-family: @font;
		font-size: 21px;
	}
}

.caption-block {
	.caption-text;
	margin-bottom: 1.5em;
}

.caption-big-bold-block {
	font-family: @fontPtsB !important;
	font-size: 40px;
	line-height: 50px !important;
}

.caption-middle-block {
	font-size: 26px;
	line-height: 26*1.3px !important;
	margin-bottom: 26px;
}

.caption-big-block {
	font-size: 40px;
	line-height: 40*1.3px !important;
	margin-bottom: 40px;
}

.caption-pts-block {
	font-family: @fontPts !important;
}

.caption-pts-bold-block {
	font-family: @fontPtsB !important;
}

.avatar-big-block {
	display: table-cell;
	width: 200px;
	height: 200px;
	border: 2px solid @blue-color;
	.border-radius();
	text-align: center;
	vertical-align: middle;
}

/** LinkBlock **/
.link-block {
	.caption-block;

	padding-top: 15px;
}

/** /LinkBlock **/

/** Icons **/
.question-icon.icon-32x32 {
	background-position: 0 1px;
}

.col-xs-1 {
	.question-icon {
		margin-left: -30px !important;
	}
}

/** /Icons **/

/** Buttons **/
.button, a.button, input[type="submit"] {
	&, &:link, &:active {
		display: inline-block;
		.border-radius();
		min-width: 124px;
		height: 51px;
		padding: 0 15px;
		/*
		line-height: 48px;
		font-family: @fontL;
		font-style: 21;
		color: @white-color;
		*/
		text-align: center;
		font: 21px/48px @fontL;
		color: @white-color;
		background: @blue-color;
		border: 0;
		border-bottom: 3px solid @dark-blue-color;
		text-decoration: none;
		white-space: nowrap;
	}
	&:hover {
		background-color: #4daee5;
	}
	&:active {
		background-color: @dark-blue-color;
	}

	&.button-small {
		min-width: 84px;
		height: 32px;
		padding: 0 9px;
		font: 17px/30px @fontL;
	}

	&.button-big {
		min-width: 184px;
		height: 80px;
		padding: 0 55px;
		font: 26px/76px @fontL;
		border-bottom-width: 4px;
	}

	&.button-yellow {
		&, &:link, &:active {
			background: @yellow-color;
			border-color: @dark-yellow-color;
		}
		&:hover {
			background-color: @light-yellow-color;
		}
		&:active {
			background-color: @dark-yellow-color;
		}
	}

	&.button-green {
		&, &:link, &:active {
			background: @green-color;
			border-color: @dark-green-color;
		}
		&:hover {
			background-color: @light-green-color;
		}
		&:active {
			background-color: @dark-green-color;
		}
	}

	&.button-dim-blue {
		&, &:link, &:active {
			background: @dim-blue-color;
			border-color: @dark-dim-blue-color;
		}
		&:hover {
			background-color: @light-dim-blue-color;
		}
		&:active {
			background-color: @dark-dim-blue-color;
		}
	}

	&.button-red {
		&, &:link, &:active {
			background: @red-color;
			border-color: @dark-red-color;
		}
		&:hover {
			background-color: @light-red-color;
		}
		&:active {
			background-color: @dark-red-color;
		}
	}
}

/** /Buttons **/

/**/
/**/
/** HeaderLine **/
.header-line {
	height: 51px;
	background: #06374b;

	* {
		color: @white-color;
		line-height: 51px;
		font-family: @fontL;
	}
	a {
		&:link, &:visited {
			color: @white-color;
		}
		&:hover, &:active {

		}
	}

	// SettingsBlock
	.settings-block {
		.pull-right;

		li {
			float: left;
			a {
				.u;
				&:link, &:visited {
					display: block;
					margin-left: 25px;
					padding-left: 30px;
					background: url('../images/header-line-settings-sprite.png') no-repeat;
				}
				&:hover, &:active {

				}
			}
			&.notifications-text {
				a {
					&:link, &:visited {
						background-position: 0 0;
					}
				}
			}
			&.user-text {
				a {
					&:link, &:visited {
						background-position: 0 -100px;
					}
				}
			}
			&.settings-text {
				a {
					&:link, &:visited {
						background-position: 0 -200px;
					}
				}
			}
			&.exit-text {
				a {
					&:link, &:visited {
						background-position: 0 -300px;
					}
				}
			}
		}
	}
	// /SettingsBlock

	// TariffBlock
	.tariff-block {
		&, & * {
			font-size: 17px;
		}
	}
	// /TariffBlock
}

/** /HeaderLine **/
/**/
/**/

/**/
/**/
/** HeaderBlock **/
.header-block {
	padding: 18px 0 27px 0;

	> .wrapper > * {
		float: left;
	}

	// LogoBlock
	.logo-block {
		img {
			padding: 6px 0;
		}
	}
	// /LogoBlock

	// PhoneBlock
	.phone-block {
		&, * {
			padding-left: 83px;
			color: @dark-gray-color;
			text-align: center;
			font-size: 17px;

			a {
				&:link, &:visited {
					display: block;
					padding: 26px 0 24px 0;
					font-family: @fontM;
					font-size: 26px;
					text-decoration: none;
				}
				&:hover, &:active {

				}
			}
		}
	}
	// /PhoneBlock

	// RightBlock
	.right-block {
		.pull-right;
		text-align: right;
		padding-top: 44px;

		a {
			&:link, &:visited {
				font-size: 21px;
				color: @dark-gray-color;
			}
		}
	}
	// /RightBlock

}

/** /HeaderBlock **/
/**/
/**/

/**/
/**/
/** MainMenu **/
.main-menu {

	.wrapper > ul {
		overflow: hidden;
		padding: 0 10px;
		background: #008bc5;
		.border-radius(3px);

		li {
			float: left;

			a {
				&:link, &:visited {
					display: block;
					padding: 0 18px;
					line-height: 62px;
					font-size: 17px;
					color: #c4cdd2;
					text-decoration: none;
				}
			}
			&.active a:link, &.active a:visited,
			a:hover, a:active {
				color: @white-color;
			}

			&.sub-menu-container {
				a {
					&:link, &:visited {

					}
					&:hover, &:active {
						background: url('../images/bg-main-menu.png') no-repeat center bottom;
					}
				}
				&.active {
					a {
						&:link, &:visited {
							background: url('../images/bg-main-menu.png') no-repeat center bottom;
						}
						&:hover, &:active {

						}
					}
				}
				ul {
					display: none;
					position: absolute;
					z-index: 100;
					padding: 0 9px;
					.border-radius(3px);
					background: #5fa3bf;
				}
				&:hover {
					ul {
						display: inline-block;

						li {
							a {
								&:link, &:visited {
									padding: 0 14px;
									color: @white-color;
								}
								&:hover, &:active {

								}
							}
						}
					}
				}
			}
			&.n-1 ul {
				margin-left: 0px;
			}
			&.n-2 ul {
				margin-left: -110px;
			}
			&.n-3 ul {
				margin-left: -290px;
			}
			&.n-4 ul {
				margin-left: -200px;
			}
			&.n-5 ul {
				margin-left: -50px;
			}
			&.n-6 ul {
				margin-left: 0px;
			}
		}
	}
}

/** /MainMenu **/
/**/
/**/

/**/
/**/
/** MiddleBlock **/
.middle-block {
	margin-bottom: 75px;

	// AskExpertBlock
	.ask-expert-block {
		a {
			.u;
			&:link, &:visited {
				.caption-block;

				float: right;
				display: block;
				min-height: 22px;
				padding: 0 30px 0 30px;
				margin: 28px 30px 0 0;
				background: url('../images/icons/question-ring-red.png') no-repeat center right;
			}
			&:hover, &:active {

			}
		}
	}
	// /AskExpertBlock
}

/** /MiddleBlock **/
/**/
/**/

/**/
/**/
/** BreadcrumbsBlock **/
ul.breadcrumbs-block {
	padding: 15px 0 35px 0;

	li {
		float: left;
		padding-right: 5px;

		+ li {
			&:before {
				content: " > ";
			}
		}
	}
}

/** /BreadcrumbsBlock **/
/**/
/**/

/**/
/**/
/** LeftColumn **/
.left-column {
	padding-top: 15px;

	> .caption-block {
		text-align: center;
	}

	// LeftColumnFrames
	.frame-block {
		width: 254px;
		margin: 0 auto;
		border: 2px solid @blue-color;
		.border-radius();

		&.frame-dark-blue {
			border-color: @dark-blue-color;
		}
		&.frame-gray {
			border-color: @gray-color;
		}

	}
	.doc-block {
		.frame-block;
		.frame-dark-blue;
		padding: 21px;
		margin-top: 3em;
		text-align: center;

		.caption-block {
			text-transform: uppercase;
		}

	}
	.doc-counter-block {
		.frame-block;
		.frame-gray;
		padding: 11px 0 11px 11px;
		margin-top: 3em;

		&, * {
			font-family: @fontL;
		}
	}
	// /LeftColumnFrames

}

/** /LeftColumn **/
/**/
/**/

.column-border-right {
	border-right: 2px solid @blue-color;
}

.column-border-left {
	border-left: 2px solid @blue-color;
}

.form-line {
	margin-top: 5px;
	margin-bottom: 13px;
}

.form-line-list {
	> div {
		.form-line;
	}
}

/**/
/**/
/** RightColumn **/
.right-column {
	padding-top: 15px;

	// Body
	.body {

	}
	// /Body

	.doc-list-block {
		padding: 10px;
		.border-radius;

		background: @super-dark-blue-color;
		&, * {
			color: @white-color;
		}

		ul {
			padding: 10px 0;
			li {
				padding: 10px 0;
			}
		}

	}
}

/** /RightColumn **/
/**/
/**/

/**/
/**/
/** CenterColumn **/
.center-column {
	padding-top: 15px;

	// Body
	.body {

	}
	// /Body
}

/** /CenterColumn **/
/**/
/**/

/**/
/**/
/** LeftMenu **/
.left-menu {
	max-width: 254px;
	margin: 0 auto;
	border: 2px solid @blue-color;
	.border-radius();

	li {
		a {
			&:link, &:visited {
				display: block;
				//width: 162px;
				padding: 9px 21px 8px 21px;
				//height: 42px;
				line-height: 25px;
				font-family: @fontL;
				text-decoration: none;
			}
			&:hover, &:active {
				background: @super-light-blue-color;
			}
		}
		&.active {
			a {
				&:link, &:visited {
					background: @super-light-blue-color;
				}
			}
		}
		+ li {
			a {
				&:link, &:visited {
					border-top: 2px solid @light-blue-color;
				}
			}
		}
	}
}

/** /LeftMenu **/
/**/
/**/

/**/
/**/
/** FooterBlock **/
.footer-block {

	.copyright {
		padding-top: 18px;
		padding-bottom: 28px;
		border-top: 1px solid @dark-blue-color;

		&, *, a:link, a:visited {
			line-height: 36px;
			font-family: @fontL;
			color: @dark-gray-color;
		}
	}

}

/** /FooterBlock **/
/**/
/**/

/**/
/**/
/** StepsBlock **/
.steps-menu-block {
	width: 168px;
	border: 3px solid @blue-color;

	li {
		a {
			&:link, &:visited {
				font-size: 21px;
				text-align: center;
			}
		}
	}
}

.steps-content-block {
	li {
		display: none;
		.button-red {
			min-width: 200px;
		}
	}
}

/** /StepsBlock **/
/**/
/**/

.full-width-border-block {
	border: 3px solid @dark-blue-color;
	.border-radius(3px);
	padding: 50px;
}

.full-width-border-text-block {
	border: 1px solid @dark-blue-color;
	.border-radius(3px);
	padding: 20px;
	margin: 10px 0;
}

/**/
/**/
/** JqueryUi **/
.ui-tooltip {
	.box-shadow(0, 0, 0, 0);
	border-color: @blue-color;
}

/** /JqueryUi **/
/**/
/**/

/**/
/**/
/** Datepicker **/
input.datepicker {
	width: 150px;
	min-width: auto;
	padding-right: 32px;
	background: url('../images/icons/icon-calendar.png') no-repeat right center;
}

.ui-datepicker {
	z-index: 1000 !important;
}

/** /Datepicker **/
/**/
/**/

/**/
/**/
/** Bootstrap **/
body {
	padding-right: 0 !important;
}

.modal-dialog {
	//	width: 700px;
	width: 650px;

	&.modal-sm {
		width: 330px;
	}

	.modal-header {
		border-bottom: 0;
	}

	.modal-title {
		.caption-block;
		.center-text;
	}

	.modal-body {
		padding: 15px 30px;
	}

	.modal-footer {
		padding-right: 15px;
		padding-bottom: 30px;
		padding-left: 15px;
		border-top: 0;
	}

}

.error-modal {
	.close {
		color: @white-color;
		text-shadow: 0px 1px 0px @dark-gray-color;
	}
	.modal-content {
		background: #cd4545 url('../images/sign-question.png') no-repeat center;
		&, * {
			color: @white-color;
		}
	}
}

.progress-box {
	height: 11px;
	margin-bottom: 8px;
	background: #9aaab0;
	.border-radius();

	.progress-bar {
		background: #ddf3fc url('../images/progress-st.png') no-repeat right;
	}
}

/** /Bootstrap **/
/**/
/**/

.simple-table {
	border-top: 2px solid @blue-color;
	border-right: 2px solid @blue-color;
	.gradient-to-bottom;

	th, td {
		border-bottom: 2px solid @blue-color;
		border-left: 2px solid @blue-color;
	}

	th {
		.regular-text;

		padding: 15px 20px;
		background: @white-color;
	}
	td {
		padding: 10px 20px !important;
	}
}

.avatar-small {
	.border-radius(33px);
	width: 66px;
	height: 66px;
	border: 2px solid @blue-color;
}

.avatar-small-list {
	li.row {
		margin-bottom: 22px;

		> * {
			display: table-cell;
		}

		.img-block {
			.avatar-small;
			.center-text;

			display: table-cell;
			vertical-align: middle;
		}
		.text-block {
			.small-text;
		}
	}
}

/**/
/**/
/**/
/**/
/************************************ Windows ****************************************/
/**/
/**/
/**/
/**/
/** Label **/
label.error {
	display: block;
	width: 300px;
	min-height: 21px;
	line-height: 21px;
	color: @white-color;
	text-transform: none !important;
	background: @red-color;
}

/** /Label **/

/** WinForm **/
.window-form {
	text-align: center;
	.result-caption {
		height: 40px;
		line-height: 36px;
		margin-bottom: 25px;
		font-size: 16px;
		font-family: @fontM;
		color: @white-color;
		background: @light-red-color;
	}
	form > * {
		margin-bottom: 6px;
	}
	.result-body {
		font-size: 15px;
		padding: 0 20px 19px 20px;

		form[name="feed-back-form"] {
			input[type="text"] {
				width: 100%;
			}
			select {
				width: 48%;
			}
			#feed-back-day {
				float: left;
			}
			#feed-back-time {
				float: right;
			}
		}
	}
	input[type=text] {
	}
	input[type=submit], .button {
		margin-top: 23px;
		//margin-bottom: 12px;
	}
	.result-win.answer input[type=submit], .button {
		background: @orange-color;
		&:hover, &:active {
			background: @dark-orange-color;
		}
	}
	.desc {
		margin: 7px 0 0 0;
		font-size: 12px;
		font-style: italic;
		color: @light-gray-color;
	}
}

.button-form-content {
	display: none;
}

/** /WinForm **/

/** MaskDiv **/
.mask {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 200000;
}

.mask.title {
	color: @dark-blue-color;
}

.mask.div {
	position: absolute;
	width: 450px;
	min-height: 100px;
	background: @white-color;
	.border-radius;
}

.mask.bg {
	z-index: 200000 !important;
	background-color: #000;
}

.result-win {
	border: 4px solid @light-red-color;
}

.result-win.answer {
	div {
		color: @white-color;
	}
	border: 4px solid @dark-blue-color;
	background: @blue-color;
	.result-caption {
		background: @dark-blue-color;
	}
}

.close-button {
	display: block;
	position: absolute;
	right: 5px;
	top: 5px;
	width: 26px;
	height: 26px;
	background: url('../images/icons/close-white-bg.png') center;
}

/**/
/********************* file: pages *********************/
/**/

/** Tariffs **/
.tariffs-caption {

	.col-xs-2 {
		.center-text;
		.bold-text;
		font-size: 15px;
		padding: 10px 0;
	}

}

.table-tariffs {
	border-top: 5px solid #e5e5e5;
	.border-radius();
	.border-radius-top-left();

	td {
		height: 100px;
		padding: 10px 15px;
		vertical-align: middle;
	}
	tr:last-child td {
		height: auto;
	}
	td {
		border-right: 5px solid #e5e5e5;
		border-bottom: 5px solid #e5e5e5;
		border-left: 5px solid #e5e5e5;
	}
	td.col-xs-2 {
		.center-text;
	}
	.tariff-icon {
		display: inline-block;
		width: 50px;
		height: 50px;
		background: url('../images/icons/tariff-check-sprite.png') no-repeat;
		&.n-1 {
			background-position: 0 0;
		}
		&.n-2 {
			background-position: 0 -50px;
		}
		&.n-3 {
			background-position: 0 -100px;
		}
		&.n-4 {
			background-position: 0 -150px;
		}
	}
	tr.height-auto td {
		height: auto;
	}
	tr:last-child td {
		height: auto;
		padding: 0;
		border: 0;

		.button {
			width: 96%;
			padding: 0;
		}
	}
}

/** /Tariffs **/

/** Contacts **/
.contacts-block {
	.points-block {
		.center-text;

		.caption-block {
			display: inline-block;
			margin: 11px 0;

			.regular-text;
			padding-left: 34px;
			background: url('../images/icons/icon-32x32-sprite.png') no-repeat;

			&.phone-block {
				background-position: 0 -32px;
			}
			&.address-block {
				background-position: 0 -64px;
			}
			&.email-block {
				background-position: 0 -96px;
			}
		}
	}
}

/** /Contacts **/

/** ListBllock **/
.li-block {
	> li {
		cursor: pointer;
	}
	.title {
		.caption-middle-block;
		.caption-pts-block;
		.center-text;
	}
	.img {
		margin: 0 auto;
	}
	.img + .title {
		height: 100px;
		margin-bottom: 29px;
	}
	&.li-block-small {
		.img {
			margin: 0 auto 20px auto;
		}
		.title {
			font-size: 17px;
			line-height: 25px !important;
			height: 50px;
			margin-bottom: 25px;
		}
	}
}

.li-data-block {
	margin-top: 60px;
	padding: 0;

	.li-data {
		display: none;

		&:first-child {
			display: block;
		}

		.corner-white {
			margin-top: -34px;
			float: none;
			height: 34px;
			background: url('../images/corner-white-up.png') no-repeat center;
			.clearfix;
		}
		.text-block {
			padding: 20px;
		}
	}
}

/** /ListBlock **/

/** Profile **/

/** Profile **/
