@import "variables.less";
@import "mixins.less";
@import "static.less";
@import "skin.less";
@import "bitrix.less";
@import "pages.less";

/** Tariffs **/
.tariffs-caption {

	.col-xs-2 {
		.center-text;
		.bold-text;
		font-size: 15px;
		padding: 10px 0;
	}

}

.table-tariffs {
	border-top: 5px solid #e5e5e5;
	.border-radius();
	.border-radius-top-left();

	td {
		height: 100px;
		padding: 10px 15px;
		vertical-align: middle;
	}
	tr:last-child td {
		height: auto;
	}
	td {
		border-right: 5px solid #e5e5e5;
		border-bottom: 5px solid #e5e5e5;
		border-left: 5px solid #e5e5e5;
	}
	td.col-xs-2 {
		.center-text;
	}
	.tariff-icon {
		display: inline-block;
		width: 50px;
		height: 50px;
		background: url('../images/icons/tariff-check-sprite.png') no-repeat;
		&.n-1 {
			background-position: 0 0;
		}
		&.n-2 {
			background-position: 0 -50px;
		}
		&.n-3 {
			background-position: 0 -100px;
		}
		&.n-4 {
			background-position: 0 -150px;
		}
	}
	tr.height-auto td {
		height: auto;
	}
	tr:last-child td {
		height: auto;
		padding: 0;
		border: 0;

		.button {
			width: 96%;
			padding: 0;
		}
	}
}

/** /Tariffs **/

/** Contacts **/
.contacts-block {
	.points-block {
		.center-text;

		.caption-block {
			display: inline-block;
			margin: 11px 0;

			.regular-text;
			padding-left: 34px;
			background: url('../images/icons/icon-32x32-sprite.png') no-repeat;

			&.phone-block {
				background-position: 0 -32px;
			}
			&.address-block {
				background-position: 0 -64px;
			}
			&.email-block {
				background-position: 0 -96px;
			}
		}
	}
}

/** /Contacts **/
