@font-face {
    font-family: 'Ubuntu Medium';
    src: url('ubuntu-medium.eot');
    src: url('ubuntu-medium.eot') format('embedded-opentype'),
         url('ubuntu-medium.woff2') format('woff2'),
         url('ubuntu-medium.woff') format('woff'),
         url('ubuntu-medium.ttf') format('truetype'),
         url('ubuntu-medium.svg#ubuntu-medium') format('svg');
}
